/** 
 * Import fonts style sheet before using the custom fonts
 * The following custom fonts are available:
 * - 'ultimate_wordpress_x'
 * - 'theme_logo_x',
 * - 'say_hello_x',
 * - 'code_editors_x'
 * Sample Usage for 'ultimate_wordpress_x' is:
 * {font-family: 'ultimate_wordpress_x';} ;
 */
@import "fonts/fonts.css"; /* Do not Delete this line */

/* Sample Usage of Custom font: "theme_logo_x" */
.logotext {
	font-family: "theme_logo_x";
	font-size: 25px;
	font-weight: bold;
}