/** Add the following font-faces to access the custom fonts
 * Available Custom Fonts are:
 * - 'ultimate_wordpress_x'
 * - 'theme_logo_x',
 * - 'say_hello_x',
 * - 'code_editors_x'
 * Sample Usage for 'ultimate_wordpress_x' is:
 * {font-family: 'ultimate_wordpress_x';} ;
 */

/**Cutom Fonts Begins*****************************************************/
@font-face {
  font-family: 'ultimate_wordpress_x';
    src:  url('ultimate_wordpress_x/OPTIAkrogroteskBold-Cond.ttf.woff') format('woff'),
    url('ultimate_wordpress_x/OPTIAkrogroteskBold-Cond.ttf.svg#OPTIAkrogroteskBold-Cond') format('svg'),
    url('ultimate_wordpress_x/OPTIAkrogroteskBold-Cond.ttf.eot'),
    url('ultimate_wordpress_x/OPTIAkrogroteskBold-Cond.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'theme_logo_x';
    src:url('themeco_logo_x/Epps-Evans.ttf.woff') format('woff'),
        url('themeco_logo_x/Epps-Evans.ttf.svg#Epps-Evans') format('svg'),
        url('themeco_logo_x/Epps-Evans.ttf.eot'),
        url('themeco_logo_x/Epps-Evans.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'say_hello_x';
    src:url('say_hello_x/ER-Univers-KOI-8-Bold.ttf.woff') format('woff'),
        url('say_hello_x/ER-Univers-KOI-8-Bold.ttf.svg#ER-Univers-KOI-8-Bold') format('svg'),
        url('say_hello_x/ER-Univers-KOI-8-Bold.ttf.eot'),
        url('say_hello_x/ER-Univers-KOI-8-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'code_editors_x';
    src:url('code_editors_x/Bebas-Neue-Bold.ttf.woff') format('woff'),
        url('code_editors_x/Bebas-Neue-Bold.ttf.svg#Bebas-Neue-Bold') format('svg'),
        url('code_editors_x/Bebas-Neue-Bold.ttf.eot'),
        url('code_editors_x/Bebas-Neue-Bold.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}
/**Custom Fonts Ends***********************************************************/






